<td class="py-2 pl-2 text-left">
  <span class="text-sm text-muted-foreground">{{ auction.name }}</span>
</td>
<td class="py-2 pl-2 text-left">
  <span class="text-sm text-muted-foreground">{{ auction.email }} </span>
</td>
<td class="py-2 pl-2 text-left">
  <span class="text-sm text-muted-foreground">{{ auction.phone }} </span>
</td>
<td class="py-2 pl-2 text-left">
  <span class="text-sm text-muted-foreground">{{ auction.role.name }} </span>
</td>
<td class="py-2 pl-2 text-left">
  <span class="text-sm text-muted-foreground"
    >{{ auction.doctor ? "Médico" : "-" }}
  </span>
</td>
<td class="py-2 pl-2 text-left">
  <span class="text-sm text-muted-foreground">{{ auction.branch.name }} </span>
</td>
