<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground">Roles</h3>
      <div class="space-x-1 text-xs font-medium">
        <span class="text-muted-foreground">Total: </span>
        <span class="text-foreground">{{ roles?.length || 0 }}</span>
      </div>
    </div>
    <div>
      <button
        class="bg-primary px-3 py-2 rounded-md text-primary-foreground text-sm font-semibold"
        (click)="openCreateRoleModal()"
      >
        Agregar Rol
      </button>
    </div>
  </div>

  <!-- Modal para crear rol -->
  <app-create-role-modal
    *ngIf="showModal"
    [role]="role"
    (closeModal)="closeCreateRoleModal()"
    (roleCreated)="addRole($event)"
  ></app-create-role-modal>

  <!-- Roles Table -->
  <div
    class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4"
  >
    <!-- Auctions Table -->
    <div class="md:col-span-3 xl:col-span-4">
      <div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
        <div class="mb-4 flex items-center justify-between">
          <div class="flex">
            <label class="relative text-muted-foreground min-w-72">
              <div class="absolute left-2.5 top-2.5">
                <svg-icon
                  src="assets/icons/heroicons/outline/magnifying-glass.svg"
                  [svgClass]="'h-4 w-4'"
                >
                </svg-icon>
              </div>
              <input
                name="search"
                class="py-2 pl-8 pr-2"
                placeholder="Buscar médicos"
                type="text"
                value=""
                (input)="onSearchChange($event)"
              />
            </label>
          </div>
        </div>

        <div class="relative overflow-x-auto">
          <table class="w-full table-auto">
            <!-- Table head -->
            <thead class="text-xs uppercase text-foreground">
              <tr>
                <th class="py-3 text-left">Nombre</th>
                <th class="py-3 text-left">Fecha creación</th>
                <th class="py-3 text-left">Acciones</th>
              </tr>
            </thead>
            <!-- Table body -->
            <tbody>
              <tr
                *ngFor="let role of roles"
                class="border-b border-dashed border-border hover:bg-card"
              >
                <td class="py-2 pl-2 text-left">
                  <span class="text-sm text-muted-foreground">{{
                    role.name
                  }}</span>
                </td>
                <td class="py-2 pl-2 text-left">
                  <span class="text-sm text-muted-foreground">{{
                    role.createdAt
                  }}</span>
                </td>
                <td class="py-2 pl-2 text-left">
                  <button
                    class="text-primary hover:underline"
                    (click)="onEditRole(role)"
                  >
                    Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
