<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Todos los usuarios</h3>
    <div class="space-x-1 text-xs font-medium">
      <span href="" class="text-muted-foreground">Total: </span>
      <span href="" class="text-foreground">{{ count }}</span>
    </div>
  </div>

  <div>
    <button
      class="bg-primary px-3 py-2 rounded-md text-primary-foreground text-sm font-semibold"
      (click)="openCreateModal()"
    >
      Agregar
    </button>
  </div>
</div>

<app-user-modal
  *ngIf="showModal"
  (closeModal)="closeCreateModal()"
></app-user-modal>
